<template name="search">

    <div class="container">
        {{#if articulos.count}}

            <h2>Resultados</h2>
            <hr>

            {{#each articulos}}

                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{{pathFor 'paginaArticulo'}}"><h1>{{titulo}}</h1></a>
                        <p>{{descripcion}}</p>
                        <p><i class="icon fa fa-map-marker" aria-hidden="true"></i> <span>{{ubicacion}}</span></p>
                        <hr>
                    </div>
                </div>

            {{/each}}

        {{else}}
            <h3>No hay resultados</h3>
        {{/if}}
    </div>

</template>