<!-- Editando: Juan Lu -->
<template name="login">
	<div class="container">
<!-- Título -->
		<h2 id="loginTitulo">Iniciar sesión</h2>

<!-- Formulario -->
		<form class="form-horizontal" role="form">

<!-- Email -->
			<div id="loginEmail" class="form-group">
				<label class="control-label col-sm-2" for="email" required>Correo electrónico</label>
				<div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="example@...">
				</div>
			</div>

<!-- Password -->
			<div id="loginPassword" class="form-group">
				<label class="control-label col-sm-2" for="pwd" required>Contraseña:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" id="pwd" placeholder="Introduce la contraseña" required>
				</div>
			</div>

<!-- Sesion -->
			<div id="loginMantenerSesion" class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label><input type="checkbox">No cerrar sesión</label>
					</div>
				</div>
			</div>

<!-- Submit -->
			<div id="loginSubmit" class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success">Iniciar Sesión</button>
				</div>
			</div>
		</form>
	</div>
</template>