<template name="registro">

    <div class="container">
        <div class="col-sm-10 col-sm-offset-2"><h2>Formulario de registro</h2></div>
        <form class="form-horizontal col-sm-10 col-sm-offset-2" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2" for="nombre">Nombre:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="nombre" placeholder="Introduce un nombre" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="apellido">Apellido:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="apellido" placeholder="Introduce un apellido" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="telefono">Teléfono:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="telefono" placeholder="Introduce un teléfono de contacto" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Correo electrónico:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="email" placeholder="example@example.com" required>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Contraseña:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password" placeholder="introduce una contraseña" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" id="registro">Registrarse</button>
                </div>
            </div>

        </form>
    </div>

</template>