*{ margin:	0 auto; }

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 80px;
}

.row{ margin: 0px; }
/* ── Imagen de carga ── */
#imagenCarga
{
	width:				100%;
	height:				100%;
	background-color:	rgba(255, 255, 255, 0.3);

	position:			absolute;
	z-index:			100;
	animation:			blinker 1s linear infinite;
	}
@keyframes blinker {
	50% { opacity: 0.5; }
	}
#imagenCarga img
{
	width:			20%;
	min-width:		0px;
	max-width:		200px;
	position:		absolute;

	top:			40%;
	left:			40%;
	border-radius: 100%;
	}

.valor{ /*en articulo.html los resultados se desplazan hacia arriba*/
	margin-top: 8px;
}


/* Aquí está lo del header*/

#login-dp{
	min-width: 250px;

	overflow:hidden;
	background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
	font-size:12px
}
#login-dp .bottom{
	background-color:rgba(255,255,255,.8);

	clear:both;
	padding:14px;
}
#login-dp .social-buttons{
	margin:12px 0
}
#login-dp .social-buttons a{
	width: 49%;
}
#login-dp .form-group {
	margin-bottom: 50px;
}
.btn-fb{
	color: #fff;
	background-color:#3b5998;
}
.btn-fb:hover{
	color: #fff;
	background-color:#496ebc
}
.btn-tw{
	color: #fff;
	background-color:#55acee;
}
.btn-tw:hover{
	color: #fff;
	background-color:#59b5fa;
}
@media(max-width:768px){
	#login-dp{
		background-color: inherit;
		color: #fff;
	}
	#login-dp .bottom{
		background-color: inherit;
		border-top:0 none;
	}
}
li{
	padding-right: 15px;

}

#uiui{
	padding-left: 40px;
	padding-right:40px ;
}
.contenido{
	padding-top: 90px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #222222;
}


.footer-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/***********************************************************************************************/
/***************************************Loading*************************************************/
/***********************************************************************************************/


@-webkit-keyframes rotate-forever {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes rotate-forever {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotate-forever {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.loading-spinner {
	-webkit-animation-duration: 0.75s;
	-moz-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: rotate-forever;
	-moz-animation-name: rotate-forever;
	animation-name: rotate-forever;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	animation-timing-function: linear;
	height: 30px;
	width: 30px;
	border: 8px solid #000000;
	border-right-color: transparent;
	border-radius: 50%;
	display: inline-block;
}

.loading-spinner {
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 0;
	left: 50%;
	margin: -15px 0 -15px;
}

/***********************************************************************************************/
/***********************************************************************************************/

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px solid rgba(248, 245, 240, 0);
}

.card {
	background: #f2eef0;
	margin: 4em auto;
	width: 100%;
	max-width: 496px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.card aside {
	position: relative;
}
.card aside img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.card aside .button {
	background: #57abf2;
	display: inline-block;
	position: absolute;
	top: 83%;
	right: 3%;
	width: 4.0625em;
	height: 4.0625em;
	border-radius: 4.0625em;
	line-height: 4.3em;
	text-align: center;
}
.card aside .button .icon {
	vertical-align: middle;
}
.card article {
	padding: 1.25em 1.5em;
}
.card article ul {
	list-style: none;
}

.card article h2, .recipe-card article h3 {
	margin: 0;
	font-weight: 300;
}
.card article h2 {
	font-size: 1.75em;
}
.card article h3 {
	font-size: 0.9375em;
	color: #838689;
}
.card article p {
	margin: 1.25em 0;
	font-size: 1em;
	font-weight: 400;
	color: #222222;
}
.card article p span {
	font-weight: 700;
	color: #000000;
}
.card article .tags {
	margin: 2em 0 0.5em;
}
.card .icon {
	color: #57ABF2;
}
.fa-eye{
	font-size: 1.5em;
	color: #ffffff;
}
.title-a{
	color: #57ABF2;
	text-decoration: none;
}
.title-a:hover, .title-a:link, .title-a:visited,.title-a:active
{
	color: #4e9ad9;
	text-decoration:none;
	cursor:pointer;
}
.Venta{
	color: #ffffff;
	text-transform: lowercase;
	font-size: 1.5rem;
	padding: 5px;
	text-align: center;
	background: #81e454;
}
.Compra{
	color: #ffffff;
	text-transform: lowercase;
	font-size: 1.5rem;
	padding: 5px;
	text-align: center;
	background: #444de4;
}
.Alquiler{
	color: #ffffff;
	text-transform: lowercase;
	font-size: 1.5rem;
	padding: 5px;
	text-align: center;
	background: #e4ca3b;
}
.Regalo{
	color: #ffffff;
	text-transform: lowercase;
	font-size: 1.5rem;
	padding: 5px;
	text-align: center;
	background: #e4564b;
}

/*****************404********************/

.error-container {
	background: url(https://38.media.tumblr.com/546c0cd48d71f210f9b67a389003790d/tumblr_neq0yw9rMA1tm16jjo1_500.gif) no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	width: 100%;
	margin-top: -20px;
}
.error-title {
	font-size: 16em;
	margin: .2em .5em;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 0px;
}
.error-title-2 {
	font-size: 1.7em;
	margin: .2em .5em;
	color: rgba(255, 255, 255, 0.6);
}
div.error {
	position: absolute;
	top: 30%;
	margin-top: -8em;
	width: 100%;
	text-align: center;
}
