<template name="articulo">

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">enviado por {{author}}</div>
            <div class="panel-body">
                {{#if imagen}}
                    <img src="{{imagen}}" class="img-responsive" alt="">
                    <hr>
                {{/if}}
                <p>Tipo: {{tipo}}</p>
                <p>Categoria: {{categoria}}</p>
                <p>Ubicacion: {{ubicacion}}</p>
                <p>Descripcion: {{descripcion}}</p>
            </div>
            <div class="panel-footer">
                <a href="{{pathFor 'paginaArticulo'}}" class="btn btn-primary">Ver</a>
                {{#if esMiArticulo}}
                    <a href="{{pathFor 'editarArticulo'}}" class="btn btn-primary">Editar</a>
                {{/if}}
            </div>
        </div>
    </div>

</template>